<% if resource.errors.any? %>
  <div>
    <ul class="user_error_box">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
