.edit_form_wrap {
  width: fit-content;
  padding: 20px 50px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 2px solid #bee7ff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* ラベル */

.edit_form_labels {
  height: 25px;
  display: flex;
}

.edfl_ca_name {
  width: 200px;
  padding-left: 10px;
}

.label_purchase_date {
  width: 200px;
}

/* 入力フォーム */

.edit_form_input {
  height: 50px;
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.edit_ipf_ca_name {
  width: 200px;
}

/* エラーメッセージ */

.edit_form_errors {
  height: 18px;
  display: flex;
}

.edf_error_ca_name {
  width: 190px;
  padding-left: 5px;
  font-size: 12px;
  color: red;
}

/* 送信ボタン */

.edit_form_submit_wrap {
  padding: 5px;
  text-align: center;
}

.edit_form_submit_btn {
  height: 40px;
  width: 130px;
  background-color: #bee7ff;
  border: none;
  cursor: pointer;
}

/* 共有 */

.edit_form_input > input,
.edit_form_labels > p,
.edit_form_errors > p {
  margin: 0 5px;
}
