<%= form_with model: @category, local: true do |input_f| %>
  <div>
    <%= input_f.text_area :name, placeholder: "10文字以内", maxlength: 10, id: "js_input_field" %>
    <%= input_f.submit '完了' %>
  </div>
<% end %>
