<%= render 'shared/header' %>

<div class="main_top">
  <h1 class="title">編集</h1>
</div>

<%= form_with model: @category, local: true do |f| %>
  <div class="edit_form_wrap">
    <div class="edit_form_labels">
      <p class="edfl_ca_name">カテゴリー名</p>
    </div>

    <div class="edit_form_input" id="js_valid_check_edf">
      <%= f.text_field :name, class: "form form_normal edit_ipf_ca_name", id: "ca_name", placeholder: "10文字以内", maxlength: 10 %>
    </div>

    <div class="edit_form_errors" id="error_message_box">
      <p class="edf_error_ca_name" id="error_ca_name"></p>
    </div>

    <div class="edit_form_submit_wrap"><%= f.submit '完了', class: "edit_form_submit_btn", id: "js_valid_check_submit" %></div>
  </div>
<% end %>
