<div>
  <h3>カテゴリー追加</h3>
</div>

<div>
  <input type="text" maxlength="10" id="js_input_category_name">
  <button id="js_category_name_submit">追加</button>
</div>

<%= form_with model: @category, url: categories_path, local: true do |f| %>
  <%= render 'new_form', f: f %>
<% end %>
