<%= render 'shared/header' %>

<div class="main_top">
  <h1 class="title">カテゴリー追加</h1>
</div>

<div class="new_category_input">
  <input type="text" maxlength="10" class="form ipf_category" id="js_input_category_name">
  <button class="category_submit" id="js_category_name_submit">追加</button>
</div>

<%= form_with model: @category, url: categories_path, local: true do |f| %>
  <%= render 'new_form', f: f, category_list: @category_list %>

  <div class="submit_box">
    <%= f.submit '完了', class: "submit" %>
  </div>
<% end %>
